In [1]:
import pandas as pd 

url="https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df= pd.read_csv(url)
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [28]:
df.dropna(inplace=True)

In [29]:
inputs= df.drop(['PassengerId','Name','Ticket','Cabin','Survived'], axis=1)
target=df['Survived']

In [30]:
inputs.head()

    Pclass     Sex   Age  SibSp  Parch     Fare Embarked
1        1  female  38.0      1      0  71.2833        C
3        1  female  35.0      1      0  53.1000        S
6        1    male  54.0      0      0  51.8625        S
10       3  female   4.0      1      1  16.7000        S
11       1  female  58.0      0      0  26.5500        S

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le_sex=LabelEncoder()
le_embarked=LabelEncoder()
inputs['sex_n']=le_sex.fit_transform(inputs['Sex'])
inputs['embarked_n']=le_embarked.fit_transform(inputs['Embarked'])

In [33]:
inputs_n=inputs.drop(['Sex','Embarked'],axis=1)

In [48]:
inputs_n.head()

    Pclass   Age  SibSp  Parch     Fare  sex_n  embarked_n
1        1  38.0      1      0  71.2833      0           0
3        1  35.0      1      0  53.1000      0           2
6        1  54.0      0      0  51.8625      1           2
10       3   4.0      1      1  16.7000      0           2
11       1  58.0      0      0  26.5500      0           2

In [36]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs_n,target,test_size=0.7,random_state=1)

In [38]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [41]:
y_pred=model.predict(x_test)

In [45]:
from sklearn.metrics import classification_report
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.50      0.48      0.49        44\n           1       0.74      0.75      0.74        85\n\n    accuracy                           0.66       129\n   macro avg       0.62      0.62      0.62       129\nweighted avg       0.66      0.66      0.66       129\n'

In [46]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6589147286821705

In [47]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[21, 23],
       [21, 64]], dtype=int64)

In [51]:
model.predict([[1,35.0,1,0,53.1000,0,2]])

array([1], dtype=int64)